.btn {
	background-color: #5a00ff;
	border-radius: 5px;
	padding: 12px 20px;
	font-size: 18px;
	color: #fff;
	transition: all 0.4s ease;

	cursor: pointer;
	@media (min-width: $md) {
		padding: 15px 45px;
	}
	@media (min-width: $lg) {
		padding: 20px 50px;
		font-size: 22px;
	}
	&--margin {
		margin-top: 30px;
		@media (min-width: $md) {
			margin-top: 40px;
		}
		@media (min-width: $lg) {
			margin-top: 70px;
		}
	}

	&--outline {
		color: #5a00ff;
		background-color: transparent;
		border: 1px solid #5a00ff;

		&:hover {
			color: #ffffff;
			background-color: #5a00ff;
		}
	}
}
