section.section
	.container
		.client-pattern.clients-blk
			.row
				.col-lg-10.offset-lg-1
					h1.heebo-eb.heading.heading--sm.font-white.text-center.heading-margin They believe in us
					p.heebo-lt.section-subtext.font-white.text-center From marketing collateral to high quality data, our partners have got our back.
					ul.client-list.d-flex.flex-wrap.align-items-center
						li.col-6.col-sm-3.client-list__item
							a(href="https://upstox.com/" target="_blank")
								img.image(src="img/clients/client-1.png" alt="client-logo")
						li.col-6.col-sm-3.client-list__item
							a(href="https://lollypop.biz/" target="_blank")
								img.image(src="img/clients/client-3.png" alt="client-logo")
						li.col-6.col-sm-3.client-list__item
							a(href="http://i-darts.com/" target="_blank")
								img.image(src="img/clients/darts.png" alt="client-logo")
						li.col-6.col-sm-3.client-list__item
							a(href="http://egregorelabs.com/" target="_blank")
								img.image(src="img/clients/Egregore-logo.png" alt="client-logo")