section.section.coming-soon-container
	.container
		.col-sm-10.offset-sm-1
			.row
				.w-100.text-center
					.coming-soon-dash
						include ../../components/dashes.pug
						+dashes("dash-contianer-coming")
					h2.section-heading.text-center.subheading-margin
						span.underline-wrapper.text-capitalize coming soon
							span.underline.underline--sm#underlineComing
					p.heebo-lt.section-subtext.para.coming-soon-text Our goal is to trade all developing markets by 2020.
					div
						img.coming-soon-img.image(src="img/Coming_Soon_Illustration.png" alt="coming-soon-img")