section.section.section-bg
	.container
		.row
			.col-sm-10.offset-sm-1.col-lg-8.offset-lg-2.text-center
				h1.heebo-eb.heading.heading-margin We began with India
				p.heebo-lt.section-subtext.para Interested in knowing more? Contact us! We'll get your questions answered.
				a(href="contact.html").btn.btn--margin.btn--shadow.text-capitalize.font-white contact us
					i.arrow.arrow--right.arrow--btn
