footer.section.fp-auto-height.fp-section.fp-table.fp-completely
	.footer-section
		.container
			.row
				ul.footer-items-blk.d-flex.align-items-center.col-12
					li.footer-blk-item.col-8(style='margin: auto;')
						ul.footer-list.d-flex.flex-wrap.justify-content-around(style='justify-content: flex-end;')
							li.footer-list__item
								a.fa.fa-facebook(style='font-size: 32px;color: white;', href='https://www.facebook.com/AlwaysMakeItRain/', target='_blank')
									img(src="./img/icons/fb.svg" style="height: 32px;width: 32px")
							li.footer-list__item
								a.fa.fa-twitter(style='font-size: 32px;color: white;', href='https://twitter.com/techno_rain', target='_blank')
									img(src="./img/icons/twitter.svg" style="height: 32px;width: 32px")
							li.footer-list__item
								a.fa.fa-linkedin(style='font-size: 32px;color: white;', href='https://in.linkedin.com/company/rain-technologies', target='_blank')
									img(src="./img/icons/linkedin.svg" style="height: 32px;width: 32px")
							li.footer-list__item
								a.fa.fa-youtube(style='font-size: 32px;color: white;', href='https://www.youtube.com/channel/UCTgj1-Gs-112BSBe98IXSBw', target='_blank')
									img(src="./img/icons/youtube.svg" style="height: 32px;width: 32px")
			.row
				ul.footer-items-blk.d-flex.align-items-center.col-12
					li.footer-blk-item.col-sm-3.col-lg-2.text-center-sm
						a.footer-logo(href='index.html')
							img.image(src='img/footer/footer-logo.svg', alt='RAIN Fund')
					li.footer-blk-item.col-sm-6.col-lg-6
						ul.footer-list.d-flex.flex-wrap.justify-content-around
							li.footer-list__item
								a.text-uppercase.font-white(href='index.html#performance!') performance
							li.footer-list__item
								a.text-uppercase.font-white(href='team.html') team
							li.footer-list__item
								a.text-uppercase.font-white(href='vision.html') vision
							li.footer-list__item
								a.text-uppercase.font-white(target='_blank', href='blogs.html') blog
							// <li class="footer-list__item"><a class="text-uppercase font-white" target="_blank" href="https://rainfund.ai/schoolofquant/">soq</a></li>
							li.footer-list__item
								a.text-uppercase.font-white(href='contact.html') contact
					li.footer-blk-item.col-sm-3.col-lg-2.text-right-lg.text-center-sm
						a.font-white(href='mailto:contact@rainfund.ai') contact@rainfund.ai
					li.footer-blk-item.col-sm-3.col-lg-2.text-right-lg.text-center-sm
						a.font-white(href='privacy-policy.html') Privacy Policy

