footer.section.fp-auto-height.fp-section.fp-table.fp-completely
	.footer-section
		.container

			.row

				ul.footer-items-blk.d-flex.align-items-center.col-12

					li.footer-blk-item.col-sm-3.col-lg-2
						a(href="index.html").footer-logo
							img.image(src="img/footer/footer-logo.svg" alt="RAIN Fund")

					li.footer-blk-item.col-sm-6.col-lg-6.offset-lg-1

						ul.footer-list.d-flex.flex-wrap.justify-content-around
							li.footer-list__item
								a(href="index.html#performance!").text-uppercase.font-white performance
							li.footer-list__item
								a(href="podcast.html").text-uppercase.font-white podcast
							li.footer-list__item
								a(href="vision.html").text-uppercase.font-white vision
							li.footer-list__item
								a(href="contact.html").text-uppercase.font-white contact

					li.footer-blk-item.col-sm-3.col-lg-2.offset-lg-1.text-right
						a(href="mailto:contact@rainfund.ai").font-white contact@rainfund.ai
