section.section.section-bg
	.container.banner-container
		.row
			.col-sm-6
				span#banner-line.line-animation
					a#home-banner-arrow(href="#why!").arrow.arrow--down.arrow--nav
				h1.opacity-none.heebo-eb.heading.heading--centered.heading--greybg.heading--lg.line-animation-neighbour#home-banner-heading
					div
						span.underline-wrapper Quantify, test, 
							span.underline.underline--lg#underline1
					div
						span.underline-wrapper trade.
							span.underline.underline--lg#underline2
			.col-sm-6.intro-image-container
				//- img.opacity-none.banner-image#home-banner-image(src="img/illustrations/banner.png")
				.opacity-none#home-banner-image