section.performance-section.section
	.container.performance-container
		.row
			.col-lg-10.offset-lg-1.section-heading--performance.our-performance-blk
				h2.section-heading
					span.underline-wrapper Our performance
						span.underline.underline--sm#underlinePerformance
				//- .graph-status-blk
				//- 	span.parent-relative.status-one.clr-gray Nifty
				//- 	span.parent-relative.status-two.clr-gray RAIN Fund
		.row
			.graph-blk
				.col-sm-6.offset-sm-6.col-lg-3.offset-lg-9.text-right.d-flex.justify-content-between.graph-status-blk
					//- button.graph-option#quarterly-chart QUARTER
					//- button.graph-option.active#yearly-chart 52 WEEK				
				#chart-container
