section.section
	.container
		.row
			h2.section-heading.w-100.text-center.section-heading--margin
				span.underline-wrapper Our driving force
					span.underline.underline--sm#underlineTeam
		.row
			ul.col-12.team-members-list.d-flex.flex-wrap
				li.d-flex.col-sm-6.col-md-4.team-members-list__item
					figure.d-flex.flex-column.align-items-center.justify-content-center
						.team-image-wrapper
							img.image.team-image(src="img/team/Raghu_Kumar.png")
						figcaption.team-member
							.team-member__content
								h3.team-member__name Raghu Kumar
								a.team-member__link(href="https://www.linkedin.com/in/raghukumarrksv/" target="_blank")
									img.linkedin-icon(src="./img/linkedin.svg" alt="linkedin")
							//- p.team-member__desgination Strategy &amp; Business
				li.d-flex.col-sm-6.col-md-4.team-members-list__item
					figure.d-flex.flex-column.align-items-center.justify-content-center
						.team-image-wrapper
							img.image.team-image(src="img/team/Assem_Singhal.png")
						figcaption.team-member
							.team-member__content
								h3.team-member__name Aseem Singhal
								a.team-member__link(href="https://www.linkedin.com/in/singhalaseem/" target="_blank")
										img.linkedin-icon(src="./img/linkedin.svg" alt="linkedin")
							//- p.team-member__desgination Quantitative Strategies
				li.d-flex.col-sm-6.col-md-4.team-members-list__item
					figure.d-flex.flex-column.align-items-center.justify-content-center
						.team-image-wrapper
							img.image.team-image(src="img/team/Param_Mandloi.png")
						figcaption.team-member
							.team-member__content
								h3.team-member__name Param Mandloi
								a.team-member__link(href="https://www.linkedin.com/in/paramprakash/" target="_blank")
										img.linkedin-icon(src="./img/linkedin.svg" alt="linkedin")
							//- p.team-member__desgination Investor Relations
		//- .row.flex.hf-center
		//- 	span#team-line.line-animation.line-animation--why.line-animation--team
		//- 		a#home-why-arrow(href="#performance!").arrow.arrow--down.arrow--nav