section.section
	.container
		.row
			.col-sm-6.flex.vf-center
				//- img#robot-image.robot-image(src="img/illustrations/Robot.svg")
				#robot-image.robot-image
			.col-sm-6.intro-image-container
				div.why-rain#why-rain
					h1.heebo-eb.heading.heading--sm.line-animation-neighbour
						//- div
						//- 	span.underline-wrapper Who We Are
						div
							span.underline-wrapper Who we are
								span.underline.underline--sm#underline3
					p.heebo-lt.para(style="background: #fff; position: relative; z-index: 99;") The RAIN Fund is an AI driven, fully automated, quantitative hedge fund. Our proprietary trading strategies are powered by Linguistic AI. Our first step is to generate exceptional returns in India's stock markets before moving to other countries.
					span#why-line.line-animation.line-animation--why
						a#home-why-arrow(href="#performance!").arrow.arrow--down.arrow--nav

