section.section.section--100vh
	.container
		.row
			.col-12
				h1.heebo-eb.heading.heading--sm.line-animation-neighbour
					div
						span.underline-wrapper About the host
							span.underline.underline--sm#underlinePodAbout

		.row
			.col-sm-6.d-flex.align-items-end
				.row
					.col-sm-6
						.m-auto.team-bg-shape
							figure(class="d-flex flex-column align-items-center justify-content-center")
								.team-image-wrapper
									img(class="image team-image" src="./img/team/Assem_Singhal.png" alt="")
					.col-sm-6.d-flex
						.user-data.mt-auto
							h4.user-data__title
								span assem singhal
								a(href="javascript:void(0);")
									img.user-data__link(src="./img/linkedin-icon.svg" alt="")
							p.user-data__desc Co-Founder

					.col-12
						p.text-desc.mb-3 Co-founder and head of Business Development at RAIN, an AI-powered hedge fund based in India. Previously founded Upstox. As a co-founder of multiple successful venture-backed fintech companies, I’ve had the privilege of working closely with some of the world’s most brilliant minds in finance, technology & product.
			.col-sm-6.d-flex
				.row
					.col-sm-6
						.m-auto.team-bg-shape
							figure(class="d-flex flex-column align-items-center justify-content-center")
								.team-image-wrapper
									img(class="image team-image" src="./img/team/Raghu_kumar.png" alt="")
					.col-sm-6.d-flex
						.user-data.mt-auto
							h4.user-data__title
								span raghu kumar
								a(href="javascript:void(0);")
									img.user-data__link(src="./img/linkedin-icon.svg" alt="")
							p.user-data__desc Co-Founder

					.col-12
						p.text-desc.mb-3 Co-founder and head of Business Development at RAIN, an AI-powered hedge fund based in India. Previously founded Upstox. As a co-founder of multiple successful venture-backed fintech companies, I’ve had the privilege of working closely with some of the world’s most brilliant minds in finance, technology & product.

