.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

h3.blog-heading {
	font-size: 20px;
	color: #333;
	line-height: 23px !important;
}

.blog-img {
	border: 1px solid #ededed !important;
}

.blog-heading {
	padding: 10px 5px !important;
}
h1.blog-heading {
	padding: 10px 5px !important;
}

.blog-img3 {
	border: 1px solid #ededed !important;
	padding: 5px !important;
}
.blog-img2 {
	padding: 80px !important;
}
p.para-blog {
	font-size: 14px !important;
	font-weight: 300 !important;
	padding-bottom: 5px !important;
	line-height: 22px !important;
}
p.para-blog2 {
	font-size: 16px !important;
	font-weight: 300 !important;
	padding-bottom: 50px !important;
	line-height: 26px !important;
	margin-top: 10px;
}
.blog-box {
	padding: 15px 0px;
	border: 1px solid #ededed;
	margin-bottom: 30px;
}
.read-btn {
	padding: 8px 15px !important;
	font-size: 16px !important;
	float: right !important;
}
.mt-3 {
	margin-top: 35px;
}
@media (min-width: 320px) and (max-width: 480px) {
	.mt-3 {
		margin-top: 70px !important;
	}
}
