section.section
	.container.how-container
		ul.row
			li.col-sm-4.how-list-container
				include ../../components/dashes.pug
				+dashes("dash-container--vision_blue dash-container--vision_how")
				h2.heebo-eb.heading.heading--sm.heading--how
					div.mobile-single
						span.underline-wrapper How we
							span.underline.underline--lg#underlineHow3
					div.mobile-single
						span.underline-wrapper do it
							span.underline.underline--lg#underlineHow4
			li.col-sm-4.how-list-container
				figure
					.how-image-container.text-c
						img(src="img/illustrations/robot-head.svg")
					figcaption.text-c
						h3.how-heading AI Driven
						p.how-details Artificial Intelligence is used to power each RAIN trade.
				li.col-sm-4.how-list-container
					figure
					.how-image-container.text-c
						img(src="img/illustrations/desk-screen.svg")
					figcaption.text-c
						h3.how-heading Fully Quantitative and Automated
						p.how-details Extensive backtests ensure models are expected to work, and automation ensures there is ZERO human decision-making.
			li.col-sm-4.how-list-container
				figure
					.how-image-container.text-c
						img(src="img/illustrations/currency.svg")
					figcaption.text-c
						h3.how-heading Low Management Fees
						p.how-details RAIN will always keep a low management fee structure (currently, it is 1%).
			li.col-sm-4.how-list-container
				figure
					.how-image-container.text-c
						img(src="img/illustrations/graph.svg")
					figcaption.text-c
						h3.how-heading Exhaustive Screening
						p.how-details Each RAIN strategy must have an expected Sharpe Ratio of at least 1.5.
			li.col-sm-4.how-list-container
				figure
					.how-image-container.text-c
						img(src="img/illustrations/globe.svg")
					figcaption.text-c
						h3.how-heading Global Fund
						p.how-details RAIN deploys its proprietary algorithms on emerging markets globally.