section.section.section-bg
	.container.banner-container
		.row
			.col-sm-6
				span#banner-line.line-animation
					a#home-banner-arrow(href="#how!").arrow.arrow--down.arrow--nav
				h1.opacity-none.heebo-eb.heading.heading--centered.heading--greybg.heading--lg.line-animation-neighbour#vision-banner-heading
					div 
						span A 
						span.underline-wrapper perspective
							span.underline.underline--lg#underlineHow1
					div
						span.underline-wrapper shift
							span.underline.underline--lg#underlineHow2
			.opacity-none.col-sm-6.intro-image-container#vision-banner-details
				include ../../components/dashes.pug
				+dashes("dash-container--vision_blue")
				p.heebo-lt.para Our vision is to bring together AI specialists, technologists and quants around the world and fundamentally redefine the way we trade financial products.

