section.section.section--100vh#aboutHost
	.container
		.row
			.col-sm-6
				h1.heebo-eb.heading.heading--sm.line-animation-neighbour
					div
						span.underline-wrapper About the host
							span.underline.underline--sm#underlinePodAbout

				.user-data
					h4.user-data__title
						span raghu kumar
						img.user-data__link(src="./img/linkedin-icon.svg" alt="")
					p.user-data__desc Co-Founder

				p.text-desc.mb-3 Co-founder and head of Business Development at RAIN, an AI-powered hedge fund based in India. Previously founded Upstox. As a co-founder of multiple successful venture-backed fintech companies, I’ve had the privilege of working closely with some of the world’s most brilliant minds in finance, technology & product.

			.col-sm-6.d-flex
				.mx-auto.my-sm-auto.team-bg-shape.my-4.my-sm-0
					figure(class="d-flex flex-column align-items-center justify-content-center")
						.team-image-wrapper
							img(class="image team-image" src="./img/team/Raghu_kumar.png" alt="")

