section.section.bg-grey.section--100vh#podcastBanner
    .container
        .row
            .col-sm-7.col-lg-6
                h1.heebo-eb.heading.heading--sm.line-animation-neighbour.text-capitalize
                    div
                        span.underline-wrapper podcasts
                            span.underline.underline--sm#underlinePodcastBannerText

                p.text-desc.mb-3 Conversations with talented traders—in stocks, futures, options, forex and crypto markets. Podcast hosted by Raghu Kumar

                ul.custom-list
                    li
                        p.text-desc Help traders/investors make better data driven
                    li
                        p.text-desc Our trading strategies eliminate human error and subjective decision-making.
                    li
                        p.text-desc Eliminate human error and subjective decision-making.

                .mt-3.mt-md-4.mt-lg-5
                    include ../../components/podcast-listing.pug

            .col-sm-5.col-lg-6.d-flex
                .m-md-auto
                    img.img-fluid.banner-illustration(src="./img/podcast-illustration.svg" alt="")