section.section.bg-grey.section--100vh#podcastBanner
    .container
        .row
            .col-sm-7.col-lg-6
                h1.heebo-eb.heading.heading--sm.line-animation-neighbour.text-capitalize
                    div
                        span.underline-wrapper podcasts
                            span.underline.underline--sm#underlinePodcastBannerText

                p.text-desc.mb-3 Conversations with real world quantitative hedge fund managers, traders, and experts in the fields of data-driven investing and trading. Podcast hosted by Raghu Kumar.

                ul.custom-list
                    li
                        p.text-desc Focused on helping retail traders/investors make better decisions
                    li
                        p.text-desc Conversations with experts around the world
                    li
                        p.text-desc Easily consumed content (especially with a hot cup of coffee!)


                .mt-3.mt-md-4.mt-lg-5
                    include ../../components/podcast-listing.pug

            .col-sm-5.col-lg-6.d-flex
                .m-md-auto
                    img.img-fluid.banner-illustration(src="./img/podcast-illustration.svg" alt="")