head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:300,400,800")
    link(rel="stylesheet"  href="./css/main.css")
    link(rel="shortcut icon" href="./img/favicon/favicon.png")
    title RAIN
