header.top-nav
	.container
		.row.nav-container
			a#primary-logo.opacity-none(href="index.html" title="RAIN Fund")
				img.nav-logo(src="img/logo/header-logo.svg" alt="RAIN Fund")
			button.hamburg
				span.icon-bar
				span.icon-bar.mobile-xs
				span.icon-bar
			.side-nav
				nav.nav-options-container
					ul.nav-list
						li.heebo-reg.active
							a#performance.opacity-none.text-uppercase(href="index.html#performance!") performance
						li.heebo-reg
							a#vision.opacity-none.text-uppercase(href="team.html") team
						li.heebo-reg
							a#vision.opacity-none.text-uppercase(href="podcasts.html") podcast
						li.heebo-reg
							a#vision.opacity-none.text-uppercase(href="vision.html") vision
						li.heebo-reg.guide
							a#contact1.opacity-none.text-uppercase(href="contact.html") contact