script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.highcharts.com/highcharts.js")
script(src="https://code.highcharts.com/modules/exporting.js")
script(src="https://code.highcharts.com/modules/export-data.js")

script(src="parsley.min.js")
script(src="js/plugins/TweenMax.min.js")
script(src="js/plugins/fullpage.min.js")
script(src="js/plugins/bodymovin.min.js")
script(defer src="js/contact.js")
script(defer src="js/fullpageInit.js")
script(defer src="js/graph.min.js")
script(defer src="js/navigation.js")
script(defer src="js/tweenAnimations.js")
//- script(src="js/jsonAnim.min.js")
//- if(title === 'HOME')
//- 	script(src="js/jsonAnimRobot.min.js")
//- if(title === 'CONTACT')
//- 	script(src="js/jsonAnim.min.js")


//- script(async src="js/main.min.js")