section.section
	.container
		.row
			h2.section-heading.w-100.text-center.section-heading--margin
				span.underline-wrapper Our advisors
					span.underline.underline--sm#underlineAdvisors
		.row
			ul.col-12.team-members-list.d-flex.flex-wrap.advisors-list.hf-center
				li.d-flex.col-sm-6.col-md-4.team-members-list__item
					figure.d-flex.flex-column.align-items-center.justify-content-center
						.team-image-wrapper
							img.image.team-image(src="img/advisors/harsh.png")
						figcaption.team-member
							.team-member__content
								h3.team-member__name Harsh Agarwal
								a.team-member__link(href="https://www.linkedin.com/in/harsh-agarwal-461aa549/" target="_blank")
										img.linkedin-icon(src="./img/linkedin.svg" alt="linkedin")
							//- p.team-member__desgination Strategy &amp; Business
