section.section
  .container.opacity-none.dev-container
    .row
      h2.section-heading.w-100.text-center.section-heading--margin
        span.underline-wrapper
          | Our tech stack
          span#underlineTechStack.underline.underline--sm
    .row
      ul.col-12.team-members-list.d-flex.hf-center.flex-wrap.advisors-list
        li.d-flex.col-sm-6.col-md-4.team-members-list__item
          figure.d-flex.flex-column.align-items-center.justify-content-center
            .team-image-wrapper
              img.image.team-image(src='img/devs/irshad.png')
            figcaption.team-member
              .team-member__content
                h3.team-member__name Irshad
                a.team-member__link(href='https://www.linkedin.com/in/irshadbhatti/', target='_blank')
                  img.linkedin-icon(src='./img/linkedin.svg', alt='linkedin')
        li.d-flex.col-sm-6.col-md-4.team-members-list__item
          figure.d-flex.flex-column.align-items-center.justify-content-center
            .team-image-wrapper
              img.image.team-image(src='img/devs/nitin.png')
            figcaption.team-member
              .team-member__content
                h3.team-member__name Nitin Singh
                a.team-member__link(href='https://www.linkedin.com/in/nitin-singh-b01967114/', target='_blank')
                  img.linkedin-icon(src='./img/linkedin.svg', alt='linkedin')
