section.section.section--subscribe-success
    .container
        .row
            .col-12
                .d-flex.mt-5
                    .m-auto.text-center
                        img.subscribe-success-img(src="./img/subscribe-illustration.svg" alt="")
                        h2.section-heading.w-100.mb-3.mb-lg-4
                            span.underline-wrapper
                                | All done, you’re subscribed
                                span.underline.underline--sm.w-100
                        p.subscribe-desc.mb-3.mb-md-4.mb-lg-5 You now have access to exclusive subscriber-only content

                        a.btn.btn--margin.btn--shadow.text-capitalize.font-white.px-4.py-3.m-0(href='podcasts.html', style='margin:30px auto;')
                            | Return to Podcast

