ul.podcast-listing
    li
        a.podcast-img-w(href="javascript:void(0);")
            img.img-fluid(src="./img/google-podcast.png" alt="google")
    li
        a.podcast-img-w(href="javascript:void(0);")
            img.img-fluid(src="./img/apple-podcast.png" alt="apple")
    li
        a.podcast-img-w(href="javascript:void(0);")
            img.img-fluid(src="./img/spotify-podcast.png" alt="spotify")