section.subscribe-us.section.section--subscribe#subscribeNewsletter
    .container
        .row
            .col-md-5
                h1.heebo-eb.heading.heading--sm.line-animation-neighbour
                    div
                        span.underline-wrapper Subscribe to
                            span.underline.underline--sm#underlineSubscribe
                    div
                        span.underline-wrapper our Newsletter
                            span.underline.underline--sm#underlineSubscribeNews

                p.text-desc.mb-2.mb-md-3 Our free monthly newsletter, delivered right to your inbox. Each edition includes:

                ul.custom-list
                    li
                        p.text-desc Note from Aseem and Raghu detailing their views on the stock markets
                    li
                        p.text-desc All podcast episodes since the previous edition
                    li
                        p.text-desc RAIN performance update

            .col-md-7
                .text-center.mb-3.mb-sm-0
                    img.img-fluid.banner-illustration(src="./img/subscribe-illustration.svg")

                form#subscribe-form.custom-subscribe-form
                    .d-flex
                        .custom-subscribe-form__form-wrapper
                            input#email(type="text", name="email" placeholder="Your e-mail address" required)
                            button.btn.btn--shadow.font-white.w-50(type="submit") Subscribe Now
