section.subscribe-us.section.section--100vh#subscribeNewsletter
    .container
        .row
            .col-md-5
                h1.heebo-eb.heading.heading--sm.line-animation-neighbour
                    div
                        span.underline-wrapper Subscribe to
                            span.underline.underline--sm#underlineSubscribe
                    div
                        span.underline-wrapper our Newsletters
                            span.underline.underline--sm#underlineSubscribeNews

                p.text-desc Subscribe below to never miss out on Podcast episodes, Trading strategies from experts, Access to courses and much more..
            .col-md-7
                .text-center.mb-3.mb-sm-0
                    img.img-fluid.banner-illustration(src="./img/subscribe-illustration.svg")

                form#subscribe-form.custom-subscribe-form
                    .d-flex
                        .custom-subscribe-form__form-wrapper
                            input#email(type="text", name="email" placeholder="Your e-mail address" required)
                            button.btn.btn--shadow.font-white.w-50(type="submit") Subscribe Now
