section.section.section-bg
	.container
		.row
			.col-12.col-lg-6#contact-banner-heading
				span.line-animation#contact-banner-line
					a(href="#contact-form!").arrow.arrow--down.arrow--nav#contact-banner-arrow
				h1.heebo-eb.heading.heading--centered.heading--lg.heading--greybg.line-animation-neighbour
					div 
						span.underline-wrapper Let's Get
							span.underline.underline--lg#underline3
					div
						span.underline-wrapper In Touch.
							span.underline.underline--lg#underline4
					p.heebo-lt.para.line-animation-neighbour__contact Contact us directly or fill the form, and we will call you back.
			.col-12.col-lg-6#contact-banner-image
				.contact-image-container
					//- img.banner-image.banner-image--contact.image(src="img/illustrations/telephone.png")
					#contactBannerImages
				p.para.heebo-lt.contact-instruct You can contact us via direct email 
					a.p-link(href="mailto:contact@rainfund.ai?subject=Mail from Our Site") contact@rainfund.ai