mixin podcast(count, title, time, img_src)
    a.podcast(href="podcast-detail.html" target="_blank")
        .podcast__img-w
            img.podcast__img(src= img_src)
        .podcast__content
            p.podcast__count PODCAST# #{count}
            h4.podcast__title= title
            p.podcast__timestamp=time