doctype html
html
	include ./pug/base/head.pug
	title HOME
	body
		main
			include ./pug/base/navigation.pug
			include ./pug/layouts/blogs/content.pug
			include ./pug/components/subscribe.pug
			include ./pug/layouts/homepage/footer.pug
		include ./pug/base/scripts.pug