doctype html
html
	include ./pug/base/head.pug
	body
		main
			include ./pug/base/navigation.pug
			include ./pug/layouts/subscribe/success.pug
			include ./pug/layouts/homepage/footer.pug
		include ./pug/base/scripts.pug

