doctype html
html
	include ./pug/base/head.pug
	body
		main
			include ./pug/base/navigation.pug
			#fullPageTeam
				include ./pug/layouts/team/team.pug
				include ./pug/layouts/team/advisors.pug
				include ./pug/layouts/team/tech-stack.pug
				include ./pug/components/subscribe.pug
				include ./pug/layouts/homepage/footer.pug
		include ./pug/base/scripts.pug

