doctype html
html
	include ./pug/base/head.pug
	body
		main
			include ./pug/base/navigationContact.pug
			#fullpageVision
				include ./pug/layouts/vision/intro.pug
				include ./pug/layouts/vision/how.pug
				include ./pug/layouts/homepage/contact.pug
				include ./pug/components/subscribe.pug
				include ./pug/layouts/homepage/footer.pug
		include ./pug/base/scripts.pug
		//- script(src="./js/plugins/jquery.min.js")
		//- script(src="./js/plugins/jquery.fullpage.min.js")
		//- script(src="./js/main.js")
