section.section.section--blog-content
	.container.opacity-none.team-container
		.row
			h2.section-heading.w-100.text-center.section-heading--margin
				span.underline-wrapper
					| Blogs
					span.underline.underline--sm
		.row
			.col-lg-8.offset-lg-2
				h1.blog-heading Introducing the School of Quant
				img.blog-img3(src='images/blog3.png', style='width:100%;')
				p.para-blog2
					| In India alone, algorithmic trading as a percentage of overall turnover has gone from
					| 9.26% to 49.8% from
					| 2010 to 2018, according to this report by Financial Express. As a quant, trying to
					| maneuver your way around
					| the markets can be daunting with so much competition. However, that doesn’t mean that
					| all hope is lost.
					br
					| 								Ultimately, quants still rule the markets, whether it’s Wall Street or Dalal Street.
					| 								This is why we are launching the
					| 								School of Quant, an initiative to help promote quantitative trading for the modern
					| 								trader.
				h3.blog-heading What is the School of Quant?
				p.para-blog2
					| It is a bold attempt to bring together like-minded quants from around
					| the world. Ultimately, there are no limits in
					| quantitative trading, because anything can move the stock markets. The trick is: how
					| efficiently are you able to quantify
					| the trading decision?
					br
					| Here’s a video we put together which provides an overview of the initiative.
				iframe(width='700', height='393', src='https://www.youtube.com/embed/okcF56eSUYA', frameborder='0', allow='accelerometer; autoplay;\
				encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
				p.para-blog2
					| We are starting with a course on AI-Powered Algorithmic Trading. This is a 8 lesson,
					| month long course (commences the first week of February) and covers the following topics
					br
					br
					span(style='font-style:italic;')
						| A PRIMER ON ALGORITHMIC TRADING
						br
						| 									QUANTITATIVE TRADING TECHNIQUES
						br
						| 									A BETTER WAY TO UNDERSTAND RISK AND REWARD
						br
						| 									AN INTRADAY TRADING SYSTEM
						br
						| 									ALL ABOUT BACK-TESTING
						br
						| 									AN OPTION TRADING SYSTEM
						br
						| 									AI, NLP, MACHINE LEARNING IN THE QUANT WORLD
						br
						| 									A LONG TERM HOLDING STRATEGY
						br
						br
					| 								Each lesson is taught by Raghu Kumar and Aseem Singhal, is 60 minutes in duration, and
					| 								is taught over a live webinar.
				h3.blog-heading  What’s the Goal?
				p.para-blog2
					| There are many reasons for why we are doing this. Here are two.
					br
					br
					strong Reason #1 Identifying New Quants
					br
					| 								As a fund management company, Rain Technologies is aware of its limitations, namely that
					| 								any algorithm we use today may
					| 								fail tomorrow. We are always on the lookout for new trading strategies. To us, this is
					| 								the best way to promote an organic
					| 								community of quants who may be willing to work with us in the future.
					br
					br
					strong Reason #2 Growing The Quant Community
					br
					| 								Our long term goal with the School of Quant is to become a one-stop destination for
					| 								learning how to build
					| 								quantitative trading and investing strategies. In order to do this, we will soon be
					| 								launching an interactive blog,
					| 								a podcast wherein we interview expert quantitative traders and fund managers, and an
					| 								online forum where
					| 								quants may exchange ideas.
