section.section.section--blog-content
	.container.opacity-none.team-container
		.row
			h2.section-heading.w-100.text-center.section-heading--margin
				span.underline-wrapper
					| Blogs
					span.underline.underline--sm
		.row
			.col-lg-8.offset-lg-2
				h1.blog-heading Why We Are Probably Living in a Simulation
				img.blog-img3(src='images/blog7.jpeg', style='width:100%;')
				p.para-blog2
					| In the business world, I respect Elon Musk a lot, mostly because he seems to deeply care
					| about the future of humanity.
					| Another individual I respect is Dr. Neil Degrasse Tyson, the popular astrophysicist who
					| has found a way to make
					| science cool again.
					br
					| 								Both Musk and Tyson share a belief which may lead you to question everything you know
					| 								about everything. They both
					| 								think we are living in a world more akin to Neo’s world in the ‘Matrix’ than the “real’
					| 								world we think we are living in today.
					| 								In other words, what we see, hear, touch, sense, and taste may not be “real” in the way
					| 								you and I ordinary think about these
					| 								things. Instead, they both propose the idea that we are living in a “virtual” reality.
					| 								In a simulation, basically.
					br
					| 								Why would this be the case?
					br
					| 								In his famous interview on the Joe Rogan podcast, Musk’s basic argument is simple. In
					| 								the future, we will not only have access
					| 								to an almost infinite amount of data and information, but we will also have the
					| 								resources and tools to process and iterate through
					| 								all the different permutations and combinations that simulations could generate. If that
					| 								is the case, then it makes sense to assume
					| 								that an advanced version of our species would want to simulate different types of events
					| 								from the past in order to figure out what
					| 								went right and wrong in the past. If that is the case, then the basic laws of statistics
					| 								dictate that there is a high likelihood that simulated
					| 								minds would be sharing Earth at any point in time with real human beings.
					br
					| 								If all this sounds too sci-fi for you, that’s where Dr. Tyson enters the picture. His
					| 								argument is even more simple: in the future, we will not
					| 								only have the ability to create computer programs with an almost infinite resource
					| 								allocation at their disposals, but we will also be able to
					| 								“create” the illusion of free will and consciousness in our characters. Computer
					| 								characters will have the ability to make the same decisions
					| 								that you and I make.
					br
					| 								And in those worlds, more simulations occur. The simulated Universe, therefore, is
					| 								filled with more and more simulated Universes.
					| 								If you had to throw a dart, what is the likelihood that it will land on that one “real”
					| 								world?
					br
					| 								That is Tyson’s argument. Fascinating, isn’t it?
					br
					| 								Back-testing is large part of what we do at RAIN. Back-testing involves going back in
					| 								time and simulating trades you would have taken in the past
					| 								based on a predefined set of rules. Back-testing requires a lot of responsibility: you
					| 								must be true to yourself when accessing any sort of output. In
					| 								fact, the best way to back-test is to actually remove yourself from the equation as much
					| 								as possible.
					br
					| 								There are a lot of overlaps between Fund Management and these types of philosophical
					| 								discussions. Ultimately, it all comes down to data: how
					| 								are you using the data at your disposal to make the most informed decisions for your
					| 								future in an unbiased, dispassionate, and detached manner?
