section.section.section--blog-content
	.container.opacity-none.team-container
		.row
			h2.section-heading.w-100.text-center.section-heading--margin
				span.underline-wrapper
					| Blogs
					span.underline.underline--sm
		.row
			.col-lg-8.offset-lg-2
				h1.blog-heading Understanding Systemic Risk
				img.blog-img3(src='images/blog6.jpeg', style='width:100%;')
				p.para-blog2
					| Last week, we posted this - on a Thursday. The article’s premise was simple: using a
					| simple graph of the Nifty’s EPS (Earnings Per Share)
					| charted against it’s P/E (Price to Earnings Ratio), it becomes evident that a sharp
					| correction in the Nifty should not be surprising due to an
					| inherent truth: the price of the Nifty is nothing more than a general, wild speculation
					| by all of us.
					br
					| 								On Friday, the Nifty fell 282 points, the largest one day drop in more than three
					| 								years.
					br
					| 								To us, at RAIN, it befuddles us when instances like this cause investors to lose a lot
					| 								of money.
					| 								Of course, somebody is paying for that Nifty fall! But, as an investor, there are things
					| 								you can
					| 								do protect yourself from one-side, un-hedged, systemic (market) risk.
				h3.blog-heading What is Systemic Risk?
				p.para-blog2
					| The term refers to the tendency for inter-dependencies to exist in the stock markets
					| such that a “shock” to the entire market
					| can lead to a shock to a company/industry, thereby creating a “system” of these
					| inter-dependencies. As an example: suppose
					| the Reserve Bank of India decides to increase its headline interest rate by 25 bps.
					| Generally, this is a sign that cash is more
					| expensive (since I can deposit it in a bank and earn more interest); therefore, the
					| public has an incentive to start saving
					| instead of spending. This, in turn, hurts the overall stock markets top-down. Companies,
					| small and large, are going to
					| get hit negatively, since consumers are not purchasing goods and services at the same
					| rate as before. This is why
					| the stock markets tend to fall after interest rates go up.
					br
					| 								This is Systemic Risk since a shock on a macro level is impacting companies across the
					| 								board. As an investor,
					| 								you want to protect yourself from Systemic Risk as much as possible by paying close
					| 								attention to the nature of the
					| 								strategies being deployed. Long/Short strategies can keep yourself hedged in these types
					| 								of situations, as well as sticking
					| 								with strategies which do not carry overnight risk (you can use stop-losses during the
					| 								market day to control intraday losses).
					br
					| 								We deal with risk every single day. The trick is to know exactly what type of risk you
					| 								are really dealing with.
					| 								Once you do that, you give yourself an opportunity to claim a desired reward.
